
body,
html {
 margin: 0;
 padding: 0;
 height: 100%;
 background: #F1F2F4 !important;
 font-family: 'Poppins', sans-serif;
		}
		
.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
	
	}
	

  body{margin:0;padding:0;background-color:#f1e9f3;}
img {border:0px;}
.feed-container{font-size:12px;border:1px solid #CCC;}
.feed-container .header{margin:0px 0px 15px 0px;padding:10px;color:#fff;background-color:#01400f;}
.feed-container .footer{margin:0px;padding:5px 5px 5px 5px;color:#fff;background-color:#9257a6;}
.feed-container .header .title{margin:0;padding:0;font-weight:bold;font-size: 17px;}
.feed-container .header a:link{color:#fff;text-decoration:none;}
.feed-container .header a:visited{color:#fff;text-decoration:none;}
.feed-container .header a:hover{color:#fff;text-decoration:underline;}
.feed-container .header a:active{color:#fff;text-decoration:none;}
.feed-container .content{margin:0px;padding:0 3px;background-color:#F2F7F2;}
.feed-container .content .item{margin:0 0 7px 0;padding:0 0 7px 0;border-bottom:1px solid #CCCCCC; overflow: hidden;}
.feed-container .content .item .title{margin:1px 0 1px 3px;padding:1px 2px 1px 3px;color:#125ADB;font-weight:bold;font-size: 17px;
float: left;width: 65%;
}
.feed-container .content .item .title a:link{color:#125ADB;text-decoration:none;}
.feed-container .content .item .title a:visited{color:#5a4860;text-decoration:none;}
.feed-container .content .item .title a:hover{color:#329171;text-decoration:underline;}
.feed-container .content .item .title a:active{color:#5a4860;text-decoration:none;}
.feed-container .content .item .description{margin:0 0 0 3px;padding:0 2px 0 3px;color:#8A0CBC;font-size: 17px;float: left;}
.feed-container .content .item .description a{text-decoration:none;color:#9257a6;}
.feed-container .content .item .description a:hover{text-decoration:underline;color:#cc99cc;} 
	






































